body {
  font-size: 16px;
  a:hover {
    color: #FF0000;
  }

  #container {
    padding-bottom: 35px;
  }

  div.editable, article.post {
    dfn, sup {
      color: #8a6d3b;
    }

    figure {
      text-align: center;
      margin: 1em;
    }

    img {
      max-width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.5);
      margin: 30px auto;
    }
  }

  #postList {
    article.post {
      padding: 5px;
      border-radius: 4px;
      
      h2 {
        margin: 0;
        
        a {
          display: block;
        }
      }
    }
    article.post:hover {
      background: #e7e7e7;
    }
  }
  
  #blog-admin {
    padding-top: 0;
    padding-bottom: 0;
    
    .blog-admin-index {
      padding: 0;
      width: 100%;
    }
  }

  #footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background: #DDDDDD;
    text-align: center;
  }
}