body {
  font-size: 16px;
  a:hover {
    color: #FF0000;
  }

  div.editable, article.post {
    dfn, sup {
      color: #428bca;
      cursor: pointer;
    }
  }

  #postList {
    article.post {
      padding: 5px;
      border-radius: 4px;
      
      h2 {
        margin: 0;
        
        a {
          display: block;
        }
      }
    }
    article.post:hover {
      background: #e7e7e7;
    }
  }
  
  #blog-admin {
    padding-top: 0;
    padding-bottom: 0;
    
    .blog-admin-index {
      padding: 0;
      width: 100%;
    }
  }

}